extends layout.pug

block feature
  if post.image
    .feature(style='background-image: url(/images/posts/' + post.image +' )')
      .container.grid-960
        .feature-text
          img(src="/logo.png")
          h1 #{post.title}

block content
  h1 #{post.title}
  .columns
    .main.post.column.col-9.col-md-8.col-sm-12
      span.date Published on: #{post.date}
      if post.image
        img(src=`/images/posts/${post.image}`)
      p #{post.content}
    .sidebar.column.col-3.col-md-4.col-sm-12
      h4 Other Posts
      .cards
      each post in posts
        .card(style="margin-bottom: 30px")
          .card-header
            .card-title= post.title
            .card-subtitle= post.date
          .card-image
            img.img-responsive(src=`/images/posts/thumbs/${post.image}`)
          .card-body
            p= post.content
          .card-footer
            a.btn.btn-default(href=`/posts/${post._id}`) View Post
