.admin.edit
  .columns
    .form.column.col-9.centered.col-sm-12
      h4.text-center Edit Post
      form.form-horizontal(action="/admin/post/edit/" + post._id + ""  method="POST" enctype="multipart/form-data")
        .form-group
          .col-3
            label.form-label(for="title") Post Title:
          .col-9
            input.form-input(type="text" name="title" value=post.title placeholder="Post Title" required)
        .form-group
          .col-3
            label.form-label(for="date") Post Date:
          .col-9
            input.form-input(type="date" name="date" value=post.date placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}")
        .form-group
          .col-3
            label.form-label(for="content") Post Content:
          .col-9
            textarea#simplemde.form-input(type="textarea" name="content" placeholder="Post Content" rows="6" required)= post.content
        if post.image
          .form-group
            .col-3
              label.form-label(for="image") Current Image:
            .col-9
              img.img-responsive(src=`/images/posts/thumbs/${post.image}` style="margin: 0 10px 10px 0;")
              input.form-input.hide(type="text" name="currentImage" value=`${post.image}` placeholder="Current Image")
        .form-group
          .col-3
            label.form-label(for="image") Post Image:
          .col-9
            input.form-input(type="file" name="image" placeholder="Post Image")
        .form-group
          .col-3
          .col-9
            a.btn.btn-default(href="/admin") Cancel
            button.btn.btn-primary.float-right(type="submit") Update
block append scripts
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
  script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
  script.
    var simplemde = new SimpleMDE();
