extends layout.pug

block meta
  meta(name="description" content="" + post.description + "")

block feature
  if post.image
    .feature.post(style='background-image: url(/images/posts/scaled_' + post.image +' ); position: relative;')
      .grayscale-overlay
      .container.grid-960
        .feature-text
          img(src="/logo.svg" alt="Spectre Site")
          h1 #{post.title}

block content
  .columns
    .main.post.column.col-9.col-md-12.col-sm-12
      if post.image
        .post-image
          img(src=`/images/posts/scaled_${post.image}` alt=`${post.title}`)
      .post-details.tile
        if post.author.profilePicture
          .tile-icon
            img.circle(src=`${post.author.profilePicture}`)
        .tile-content
          if post.author
            .tile-title.author Posted by: #{post.author.name}
            .tile-subtitle.date Published on: #{post.date}

      .post-body!= md.toHTML(post.content)
      .comments-container
        h4 Comments
        include partials/comments.pug
    .sidebar.column.col-3.col-md-12.col-sm-12
      h4 Other Posts
      .cards.columns
        each post in posts
          .column.col-12.col-md-6.col-xs-12(style="margin-bottom: 30px")
            .card
              .card-header
                .card-title= post.title
                .card-subtitle= post.date
              if post.image
                .card-image
                  img.img-responsive(src=`/images/posts/thumbs/${post.image}` alt=`${post.title}`)
              .card-body!= md.toHTML(post.summary)
              .card-footer
                a.btn.btn-default(href=`/posts/${post.slug}`) View Post
