extends layout
block content
  if thisUser
    .user
      h1 #{thisUser.first_name} #{thisUser.last_name}
      p Email: #{thisUser.email}
  if users
    .columns
      each user, index in users
        .tile.column.col-4
          .tile-icon
            .example-tile-icon
              img.round(src=`http://i.pravatar.cc/40?img=${index + 1}`)
          .tile-content
            p.tile-title #{user.first_name} #{user.last_name}
            p.tile-subtitle #{user.email}
            .tile-action
              a.btn.btn-sm.btn-primary(href=`/users/${user._id}`) View Users Profile
