extends layout
block content
  if thisUser
    .user
      .col-6.col-sm-12.centered
        h2 User Profile
        if thisUser.profilePicture
          .profile-picture
            img(src=`${thisUser.profilePicture}`)
        h1 #{thisUser.first_name} #{thisUser.last_name}
        p #{thisUser.email}
      hr.col-6.col-sm-12.centered
      .col-6.col-sm-12.centered
        h6 View All Users
        a.btn.bt-default(href="/users") All Users
  if users
    .columns
      each user, index in users
        .tile.column.col-4.col-md-6.col-sm-12
          .tile-icon
            .example-tile-icon
              if user.profilePicture
                img.round(src=`${user.profilePicture}`)
              else
                img.round(src=`http://i.pravatar.cc/40?img=${index + 1}`)
          .tile-content
            p.tile-title #{user.first_name} #{user.last_name}
            p.tile-subtitle #{user.email}
            .tile-action
              a.btn.btn-sm.btn-primary(href=`/users/${user._id}`) View Users Profile
